<div class="l-grid selector-wrapper">
  <div class="l-grid__col l-grid__col--12 l-grid__col--6@sm l-grid__col--4@lg">
    <label for="input" class="c-form-label">
      <span>Choose grid type</span>
    </label>
    <div [class.u-highlight]="!hasSelected()">
      <pf-select
        class="c-select"
        placeholder="Choose grid type"
        [(value)]="gridType"
        (valueChange)="hasSelected.set(true)"
      >
        <pf-select-option [value]="'mosaic'"
          ><pf-icon name="2-1-tiles" slot="prepend"></pf-icon>Mosaic</pf-select-option
        >
        <pf-select-option [value]="'regular'"
          ><pf-icon name="3-tiles" slot="prepend"></pf-icon>Regular</pf-select-option
        >
      </pf-select>
    </div>
  </div>
</div>
